.MuiTypography-root {
    .MuiBreadcrumbs-li {
        a {
            color: rgba(0, 0, 0, 0.55);
            text-decoration: none;

            &:hover {
                color: rgba(0, 0, 0, 0.9);
            }
        }
    }

    .css-1gqyz35-MuiTypography-root {
        color: rgba(0, 0, 0, 0.9);
    }
}
