.card {
    &.photo {
        display: inline-block !important;
        background-color: transparent;
        margin-bottom: 0.5rem;
        // border-radius: 0;
        border-radius: 8px;
        border: none;
        cursor: pointer;

        .img-box {
            position: relative;
            user-select: none;

            .card-img-top {
                transition: filter .3s;
                // border-radius: 0;
                border-radius: calc(8px - 1px);
                // border-top-left-radius: calc(16px - 1px);
                // border-top-right-radius: calc(16px - 1px);
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: transform .3s, -webkit-transform .3s;
                cursor: pointer;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
                opacity: .7;
            }

            @media (hover: hover) {
                &:hover {
                    .card-img-top {
                        filter: brightness(.8);
                    }

                    svg {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }
    }

    &.person {
        display: inline-block !important;
        // background-color: #ffffff;
        background-color: #d5d3bf;
        background-color: lighten(#e8e7da, 5%);
        // border: 1px solid #dee2e6;
        // border: 2px solid #D6D3BA;
        // border: 1px solid #c4b888;
        border: 1px solid #c4b888;
        // border: none;
        // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        // border-radius: 0;
        border-radius: 8px;

        .card-img-top {
            border-radius: 0;
            border-top-left-radius: calc(8px - 1px);
            border-top-right-radius: calc(8px - 1px);
            user-select: none;
        }

        .card-body {
            .card-title {
                font-size: 1.25rem;
                font-weight: 400;

            }

            .card-text {
                font-weight: 400;
                font-size: 1.05rem;
                line-height: 1.43;
                letter-spacing: 0.01071em;
                // color: #1976d2;
                color: #991111;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        // @media (hover: hover) {
        //     &:hover {
        //         // transform: scale(1.04);
        //         box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        //         transition: .5s ease;
        //         cursor: pointer;
        //         z-index: 2;
        //     }
        // }
    }

    &.contact {
        background-color: transparent;
        border: none;
        border-radius: 0;

        .card-body {
            // flex: 1 1 auto;
            padding: 0;
        }

    }
}