.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #991111 !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root:hover
.MuiOutlinedInput-notchedOutline {
    border-color: #991111 !important;
    border-width: 1px !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
.MuiOutlinedInput-notchedOutline {
    border-color: #991111 !important;
    border-width: 1px !important;
}

.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
.MuiOutlinedInput-notchedOutline {
    border-color: #991111 !important;
    border-width: 1px !important;
}