.link {
    &.more {
        a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #212529;

            .divider {
                position: absolute;
                background-color: #dee2e6;
                height: 1px;
                left: 0;
                width: 100%;
            }

            .text-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                background: #F2F3F5;
                background: #fff;
                border: 1px solid #dee2e6;
                width: 300px;
                padding: 7px 11px;

                .text {
                    text-transform: uppercase;
                }
            }
        }
    }

}