.nav.nav-pills {
    // display: grid;
    // gap: 1rem;

    // &.video {
    //     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    //     @media (max-width: 1199.98px) and (min-width: 992px) {
    //         grid-template-columns: 1fr 1fr 1fr 1fr;
    //     }

    //     @media (max-width: 991.98px) and (min-width: 768px) {
    //         grid-template-columns: 1fr 1fr 1fr;

    //     }

    //     @media (max-width: 767.98px) and (min-width: 540px) {
    //         grid-template-columns: 1fr 1fr 1fr;
    //     }

    //     @media (max-width: 539.98px) {
    //         grid-template-columns: 1fr 1fr;
    //     }
    // }

    &.photo {
        // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        border-bottom: 1px solid rgba(0,0,0,.1);
        margin-bottom: 1rem;

        // @media (max-width: 1199.98px) and (min-width: 992px) {
        //     grid-template-columns: 1fr 1fr 1fr 1fr;
        // }

        // @media (max-width: 991.98px) and (min-width: 768px) {
        //     grid-template-columns: 1fr 1fr 1fr;

        // }

        // @media (max-width: 767.98px) and (min-width: 540px) {
        //     grid-template-columns: 1fr 1fr 1fr;
        // }

        // @media (max-width: 539.98px) {
        //     grid-template-columns: 1fr 1fr;
        // }
    }

    // &.backstage {
    //     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

    //     @media (max-width: 1199.98px) and (min-width: 992px) {
    //         grid-template-columns: 1fr 1fr 1fr 1fr;
    //     }

    //     @media (max-width: 991.98px) and (min-width: 768px) {
    //         grid-template-columns: 1fr 1fr 1fr;

    //     }

    //     @media (max-width: 767.98px) and (min-width: 540px) {
    //         grid-template-columns: 1fr 1fr 1fr;
    //     }

    //     @media (max-width: 539.98px) {
    //         grid-template-columns: 1fr 1fr;
    //     }
    // }


    .nav-item {
        justify-self: stretch;
        text-align: center;

        @media (max-width: 767.98px) {
            width: 100%;
        }

        .nav-link {
            background-color: transparent;
            // color: #6a6c6f;
            color: rgba(0,0,0,.55);
            transition: none;
            border-radius: 0px;
            // background-color: rgba(0,0,0,.05);
            background-color: transparent;
            // border: 1px solid rgba(0,0,0,.1);
            border-bottom: 2.5px solid transparent;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            // color: #202124;
            white-space: nowrap;

            // line-height: 1.25;
            // font-size: 1rem;
            // line-height: 1.25;
            text-transform: uppercase;
            // font-weight: 400;

            &.active {
                // color: #FFF;
                // background-color: #202124;
                // background-color: #202124;
                color: rgba(0,0,0,.9);
                border-bottom: 2.5px solid green;
            }

            @media (hover: hover) {
                &:hover:not(.active) {
                    // color: #000;
                    // background-color: rgba(0,0,0,.1);
                    transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
                }
            }
        }
    }

    @media (max-width: 991.98px ) {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.dark-theme {
    .nav.nav-pills {
        .nav-item {
            .nav-link {
                background-color: rgba(255, 255, 255, 0.05);
                border: 1px solid rgba(255, 255, 255, 0.05);
                color: rgba(255, 255, 255, 0.55);

                &.active {
                    background-color: rgba(255, 255, 255, 0.95);
                    color: #212529;
                }

                @media (hover: hover) {
                    &:hover:not(.active) {
                        color: rgba(255,255,255,.75);
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }
}
