.scrollup {
    button.btn {
        z-index: 1000;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        right: .75rem;
        bottom: .75rem;
        width: 45px;
        height: 45px;
        padding: 2px;
        background-color: #fff;
        opacity: 0.4;
        border: none;
        cursor: pointer;
        border-radius: 0;
        border: 1px solid #dee2e6;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        i {
            font-size: 22px;
        }
    }
}

body.modal-open {
    .scrollup {
        button.btn {
            display: none;
        }
    }
}
