html, body, #root, .app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    // background-color: #F2F3F5;
    // background-color: #f8f9fa;
    background-color: #e8e7da;
    // background-color: #ca7a25;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    flex: 1 1;
    margin-top: 50px;
    // border-bottom: 1px solid #dee2e6;
}

.view-wrapper {
    .view-header {
        // background-color: #F2F3F5;
        background-color: lighten(#c4b888, 15%);
        background-color: #d5d3bf;
        // background-color: darken(#d5d3bf, 3%);
        // background-color: #663207;
        // border-bottom: 1px solid #dee2e6;
        border-bottom: 1px solid #c4b888;

        // position: sticky;
        // top: -48px;
        // z-index: 2;

        .header-wrapper {
            padding-top: 1rem;
            // padding-bottom: 1.5rem;
        }
    }

    .view-body {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    .section-wrapper {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section-wrapper {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &.footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        padding: 3rem 0;
        margin-bottom: 0;
        margin-top: 0;

        @media (max-width: 1199.98px) and (min-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 991.98px) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}

.card-wrapper {
    &.photo {
        // column-count: 4;
        // column-gap: 0.5rem;
        // orphans: 1;
        // widows: 1;

        display: grid;
        // grid-gap: 0.5rem;
        grid-gap: 4px;
        margin-bottom: 1.5rem;
        // grid-template-areas:
        //     "vertical1 vertical1 square1 square2"
        //     "vertical1 vertical1 vertical2 vertical2"
        //     "square3 square4 vertical2 vertical2";
        grid-template-columns: repeat(4,1fr);

        @media (max-width: 1199.98px) and (min-width: 992px) {
            // column-count: 3;
            grid-template-columns: repeat(3,1fr);
        }

        @media (max-width: 991.98px) {
            // column-count: 2;
            grid-template-columns: repeat(2,1fr);
        }
    }

    &.person {
        display: grid;
        gap: 0.5rem;
        margin-bottom: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        @media (max-width: 1199.98px) and (min-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 991.98px) and (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 767.98px) and (min-width: 540px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 539.98px) {
            grid-template-columns: 1fr 1fr;
        }

    }

    &.contact {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 1199.98px) and (min-width: 992px) {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 991.98px) and (min-width: 768px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 767.98px) and (min-width: 540px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 539.98px) {
            grid-template-columns: 1fr;
        }
    }
}
