.grid-wrapper {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
    grid-template-areas:
        "vertical1 vertical1 square1 square2"
        "vertical1 vertical1 vertical2 vertical2"
        "square3 square4 vertical2 vertical2";
    grid-template-columns: repeat(4,1fr);

    img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
    }

    .a1 {
        grid-area: vertical1;
        height: 484px;
    }

    .a2 {
        grid-area: square1;
        height: 312px;
    }

    .a3 {
        grid-area: square2;
        height: 312px;
    }

    .a4 {
        grid-area: square3;
        height: 312px;
    }

    .a5 {
        grid-area: square4;
        height: 312px;
    }

    .a6 {
        grid-area: vertical2;
        height: 484px;
    }
}
