footer {
    // background-color: #ffffff;
    // background-color: #F2F3F5;
    background-color: #d5d3bf;
    // border-top: 1px solid #dee2e6;
    border-top: 1px solid #c4b888;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    // text-transform: uppercase;
    letter-spacing: 0.00938em;

    .section-wrapper {
        &.footer {
            color: rgba(0,0,0,.5);

            // color: #6F7E8C;

            .footer-subheader {
                font-size: 1.1rem;
                color: rgba(0,0,0,.7);
                margin-bottom: 1rem;
                font-weight: 500;
                text-transform: uppercase;
                // font-size: 0.875rem;
            }

           .business {
                font-size: .95rem;

                


                .business-wrapper {
                    display: grid;
                    gap: 0.5rem;

                    span {
                        line-height: 1;
                    }
                }
            }

            .video,
            .foto {
                font-size: .95rem;
                font-weight: 400;

                .list-group-flush {
                    margin-bottom: 0;
                    padding-left: 0;

                    .list-group-item {
                        padding: 0.5rem 0;
                        background-color: #F2F3F5;
                        background-color: #d5d3bf;

                        a {
                            color: rgba(0, 0, 0, 0.55);
                            text-decoration: none;

                            &:hover {
                                color: rgba(0, 0, 0, 0.9);
                            }
                        }

                        &:first-child {
                            padding-top: 0;
                        }

                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }

            .contact {
                font-size: .95rem;

                .contact-wrapper {
                    display: grid;
                    gap: 1rem;

                    .details {
                        display: grid;
                        gap: 0.5rem;

                        a {
                            color: rgba(0, 0, 0, 0.55);
                            text-decoration: none;

                            &:hover {
                                color: rgba(0, 0, 0, 0.9);
                            }
                        }
                    }

                    .media {
                        display: flex;
                        align-items: center;
                        gap: .75rem;

                        svg {
                            filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(327deg) brightness(114%) contrast(114%);
                            opacity: 0.5;
                            user-select: none;

                            &:hover {
                                opacity: 0.7;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        &.info {
            text-align: center;
            margin: 0;
            padding: .7rem 0;
            // background-color: #f8f9fa;
            background-color: #e8e7da;
            // border-top: 1px solid rgba(0, 0, 0, .1);
            border-top: 1px solid #c4b888;

            .copyright {
                color: rgba(0,0,0,.55);
                font-size: .75rem;

                @media (max-width: 539.98px) {
                    font-size: .6rem;
                }

                .design {
                    text-decoration: none;
                    color: rgba(0,0,0,.55);
                }
            }
        }
    }
}










// do przeniesienia
.grid-wrapper {
    display: grid;
    // grid-gap: 0.5rem;
    grid-gap: 4px;
    margin-bottom: 1.5rem;
    grid-template-areas:
        "vertical1 vertical1 square1 square2"
        "vertical1 vertical1 vertical2 vertical2"
        "square3 square4 vertical2 vertical2";
    grid-template-columns: repeat(4,1fr);

    @media (max-width: 1199.98px) and (min-width: 992px) {
        grid-template-areas:
        "vertical1 square1"
        "vertical1 vertical2"
        "square3 vertical2";
        grid-template-columns: repeat(2,1fr);
    }

    @media (max-width: 991.98px) and (min-width: 1px) {
        grid-template-areas:
        "vertical1 square1"
        "square3 vertical2";
        grid-template-columns: repeat(2,1fr);
    }

    img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
    }

    .a1 {
        grid-area: vertical1;
        height: 484px;
        // border-radius: 8px;

        img {
            // border-radius: calc(8px - 1px);
        }

        @media (max-width: 992.98px) {
            height: 312px;
        }

        @media (max-width: 767.98px) and (min-width: 540px) {
            height: 254px;
        }

        @media (max-width: 539.98px) {
            height: 179px;
        }
    }

    .a2 {
        grid-area: square1;
        height: 312px;
        // border-radius: 8px;

        img {
            // border-radius: calc(8px - 1px);
        }

        @media (max-width: 992.98px) {
            height: 312px;
        }

        @media (max-width: 767.98px) and (min-width: 540px) {
            height: 254px;
        }

        @media (max-width: 539.98px) {
            height: 179px;
        }
    }

    .a3 {
        grid-area: square2;
        height: 312px;
        // border-radius: 8px;

        img {
            // border-radius: calc(8px - 1px);
        }

        @media (max-width: 1199.98px) and (min-width: 1px) {
            display: none;
        }

    }

    .a4 {
        grid-area: square3;
        height: 312px;
        // border-radius: 8px;

        img {
            // border-radius: calc(8px - 1px);
        }

        @media (max-width: 992.98px) {
            height: 312px;
        }

        @media (max-width: 767.98px) and (min-width: 540px) {
            height: 254px;
        }

        @media (max-width: 539.98px) {
            height: 179px;
        }
    }

    .a5 {
        grid-area: square4;
        height: 312px;
        // border-radius: 8px;

        img {
            // border-radius: calc(8px - 1px);
        }

        @media (max-width: 1199.98px) and (min-width: 1px) {
            display: none;
        }
    }

    .a6 {
        grid-area: vertical2;
        height: 484px;
        // border-radius: 8px;

        img {
            // border-radius: calc(8px - 1px);
        }

        @media (max-width: 992.98px) {
            height: 312px;
        }

        @media (max-width: 767.98px) and (min-width: 540px) {
            height: 254px;
        }

        @media (max-width: 539.98px) {
            height: 179px;
        }
    }
}
