@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500&display=swap");

@mixin bd-bg-overlay($color, $opacity) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
    background: none repeat $color;
    opacity: $opacity;
}

@mixin bd-relative-zindex {
    position: relative;
    z-index: 999;
}

.jumbotron {
    .photo-wrapper {
        position: relative;
        background: url("../../assets/poster/poster.jpg") 50% 40% no-repeat;
        background-size: cover;

        @media (max-width: 539.98px) {
            position: relative;
            background: url("../../assets/poster/poster3.jpg") 50% 0 no-repeat;
            background-size: cover;
        }

        &::after {
            // @include bd-bg-overlay(rgb(255, 255, 255), .6);
            @include bd-bg-overlay(rgb(0, 0, 0), .15);
        }

        .content-wrapper {
            text-align: center;
            @include bd-relative-zindex;
            // padding-top: 450px;
            // padding-bottom: 450px;
            height: calc(100vh - 48px);

            .company-wrapper {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: end;
                width: 100%;
                padding: 0;
                text-align: center;
                background: 0 0;
                border: 0;
                flex-direction: column;
                padding-bottom: 1rem;

                .company-name {
                    // font-family: "Catamaran", sans-serif;
                    font-size: calc(1em + 4vw);
                    // font-size: 5rem;
                    letter-spacing: 1px;
                    // font-weight: 400;
                    text-transform: uppercase;
                    // color: #fff;
                    color: rgba(255,255,255,.95);
                    // opacity: 0;
                    // animation: fadeIn .3s;
                    // animation-delay: .3s;
                    // animation-fill-mode: forwards;
                    font-weight: 800;
                    letter-spacing: 10px;

                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                        }
                    }
                }

                .description {
                    font-size: 0.95rem;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: rgba(255,255,255,.75);

                    @media (max-width: 767.98px) {
                        font-size: 0.55rem;
                        letter-spacing: 0px;
                    }

                    .text {
                        .heading {
                            font-weight: 600;
                            color: rgba(255,255,255,.85);
                        }

                        .item {
                            padding: 5px;
                            display: inline-block;
                            width: max-content;

                            @media (max-width: 767.98px) {
                                padding: 2.5px;
                            }
                        }
                    }

                    .info {
                        font-size: 1.5rem;
                        font-size: calc(.6rem + 1vw);
                        font-weight: 500;

                        @media (max-width: 767.98px) {
                            font-size: 1rem;
                        }
                    }


                }

                .company-services {
                    @extend .company-name;
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;

                    .dot {
                        font-size: 2rem;
                        margin-right: 5px;
                        margin-left: 5px;
                        line-height: 1.4rem;
                    }
                }
            }
        }
    }
}
